// Positioning 

.-pin-r-full {
    right: -100%;
}

.transition-right--ease-in {
    transition: .3s right ease-in;
}

// Colors 

.bg-blue--opacity-66 {
 background-color: rgba(39, 87, 128, 0.66);
}

//

.text-shadow {
    text-shadow: rgba(0, 0, 0, 0.03) 0 0 3px;
}